.container{
    @apply flex gap-3 flex-col justify-between w-[320px];
    @apply py-4;

    @apply text-main dark:text-main-dark;

    @apply mid:w-full;

    @apply mid:flex-row mid:items-center;

    position: relative;


    &:before{
        content:'';
        position: absolute;
        z-index: -1;
        display: block;
        top: 0;



        @apply  h-full w-screen  bg-accent-grey;


        @apply dark:!bg-accent-grey-dark dark:!text-main-dark sm:mx-[-24px] mid:mx-[-180px] xl:mx-[-500px] 2xl:mx-[-1140px];



        transition: background-color 500ms ease-in-out;
    }

    transition:  500ms ease-in-out;
    transition-property: color,background;
}

.title{
    @apply font-raleway-medium text-sm/[16px]  lg:mr-10;
    @apply lg:text-[20px]/[23px];

}

.tags{
    @apply flex gap-4 flex-wrap;

    @apply mb-1;

    @apply mid:mr-auto;
}

.tag{
    @apply flex items-center gap-[10px] text-xs font-raleway;

    @apply p-[10px] bg-white rounded-[5px];

    @apply dark:bg-main;

    @apply lg:text-[16px];

    transition: background-color 500ms ease-in-out;

}