@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply text-main dark:text-main-dark;
    @apply bg-main-dark dark:bg-main;

    transition: 500ms ease-in-out;
    transition-property: color,  background-color;
}

li, ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@layer base {
    @font-face {
        font-family: 'Raleway Bold';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('./assets/fonts/Raleway-Bold.ttf') format("truetype");
    }
    @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('./assets/fonts/Raleway-Regular.ttf') format("truetype");
    }
    @font-face {
        font-family: 'Raleway Medium';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('./assets/fonts/Raleway-Med`ium.ttf') format("truetype");
    }
    @font-face {
        font-family: 'Raleway Semibold';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('./assets/fonts/Raleway-SemiBold.ttf') format("truetype");
    }
}